{{if first "styles/global.html"}}
    <style>
        :root {
            --color-background: #ffffff;
            --color-anchor: #0366d6;
            --color-merged: #6f42c1;
            --color-closed: #cb2431;
            --color-highlight: #e36209;

            --grey-light: #d1d5da;
            --grey-medium: #6a737d;
            --grey-dark: #586069;
            --grey-black: #24292e;

            --gap-card: 16px;
            --gap-side: calc(50% - var(--width-page)/2);
            --gap-top: 13vh;

            --height-nav: 54px;

            --width-info: 230px;
            --width-nav: 734px;
            --width-page: calc(var(--width-info) + var(--width-nav) + 2*var(--gap-card));
        }

        body {
            background-color: var(--color-background);
            color: var(--grey-black);
            font-family: -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif;
            line-height: 1.5;
            margin: 0;
        }

        a {
            text-decoration: none;
            color: var(--color-anchor);
        }
    </style>
{{end}}
