{{template "styles/global.html"}}

{{if first "styles/layout.html"}}
    <style>
        html {
            min-height: 768px;
            min-width: var(--width-page);
            overflow-y: scroll;
            width: 100%;
        }

        .info-wrapper {
            background-color: var(--color-background);
            height: 100%;
            padding-left: var(--gap-side);
            padding-right: var(--gap-card);
            padding-top: var(--gap-top);
            position: fixed;
            width: var(--width-info);
            z-index: 1;
        }

        .nav-wrapper {
            background-color: var(--color-background);
            left: calc(var(--width-info) + 2*var(--gap-card));
            padding-left: calc(var(--gap-side));
            padding-top: calc(var(--gap-top) - var(--height-nav) + 1px);
            position: fixed;
            width: var(--width-nav);
            z-index: 1;
        }

        .cards-wrapper {
            align-items: stretch;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: calc(4*var(--gap-card));
            padding-left: calc(var(--gap-side) + var(--width-info) + 2*var(--gap-card));
            padding-top: calc(var(--gap-top) + 2*var(--gap-card) + 1px);
            width: var(--width-nav);
            z-index: 0;
        }
    </style>
{{end}}
