html {
    --top-gap: 13vh;
    --info-width: 230px;
    --nav-height: 54px;
    --content-height: 512px;
    --card-width: 359px;
    --card-gap: 16px;

    height: 100vh;
    min-height: 768px;
    min-width: calc(var(--info-width) + 2*var(--card-width) + 7*var(--card-gap));
    overflow: hidden;
    width: 100%;
}

body {
    background-color: #ffffff;
    color: #24292e;
    font-family: -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif;
    height: calc(100% - var(--top-gap));
    line-height: 1.5;
    margin: 0;
    position: relative;
    background-color: var(--background-color);
}

.page {
    margin: var(--top-gap) auto 0;
    width: calc(var(--info-width) + 2*var(--card-width) + 3*var(--card-gap));
}

    .page .info {
        display: inline-block;
        width: var(--info-width);
    }

        .page .info img {
            border-radius: 8px;
            display: block;
            height: var(--info-width);
            width: var(--info-width);
        }

        .page .info h1 {
            font-size: 26px;
            line-height: 30px;
            margin-bottom: 0;
        }

        .page .info h3 {
            color: #666666;
            font-size: 20px;
            font-weight: 300;
            line-height: 24px;
            margin: 0;
        }

        .page .info p {
            color: #6a737d;
            font-size: 14px;
            font-weight: 300;
            margin: 16px 0 0;
        }

        .page .info hr {
            border: none;
            border-top: 1px solid #eaecef;
            height: 1px;
            margin: 11px 0;
        }

        .page .info .links {
            font-size: 14px;
        }
            .page .info .item {
                margin-bottom: 2px;
            }

                .page .info .item .icon {
                    color: #6a737d;
                    display: inline-block;
                    margin-right: 6px;
                    padding: 2px 2px 0 1px;
                    transform: translate(0, 3px);
                }

                .page .info .item a:hover {
                    text-decoration: underline;
                }

    .page .tabs {
        display: inline-block;
        margin-left: calc(2*var(--card-gap));
        margin-top: calc(-1*var(--nav-height) + 2px);
        overflow-x: hidden;
        vertical-align: top;
        width: calc(100% - var(--info-width) - 2*var(--card-gap));
    }

        .page .tabs .nav {
            border-bottom: 1px solid #d1d5da;
            height: var(--nav-height);
        }

            .page .tabs .nav a.item {
                color: #586069;
                border-bottom: 2px solid transparent;
                display: inline-block;
                font-size: 14px;
                margin-right: 16px;
                padding: 16px 8px;
                text-align: center;
                text-decoration: none;
            }

            .page .tabs .nav a.item:hover {
                border-bottom-color: #d1d5da;
                color: #24292e;
                text-decoration: none;
                transition: .2s ease;
            }

            .page .tabs .nav a.item.hash-active {
                border-color: #e36209;
                color: #24292e;
                font-weight: 600;
            }

                .page .tabs .nav a.item .counter {
                    color: #586069;
                    background-color: rgba(27, 31, 35, .08);
                    border-radius: 20px;
                    display: inline-block;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 1;
                    margin: 0 3px;
                    padding: 2px 5px;
                }

        .page .tabs .shade {
            background-color: rgba(3, 102, 214, 0.07);
            height: 100%;
            left: 0;
            opacity: 0;
            pointer-events: none;
            position: fixed;
            top: 0;
            transition: all 0.2s ease;
            width: 100%;
            z-index: 1;
        }

        .page .tabs .content {
            display: none;
            max-height: calc(100vh - var(--top-gap) - 2*var(--card-gap));
            overflow-x: hidden;
            overflow-y: scroll;
            padding-top: calc(2*var(--card-gap));
            position: relative;
            width: calc(100% + 17px);
            z-index: 2;
        }

        .page .tabs .content.hash-active {
            display: block;
        }

            .page .tabs .content .card {
                background-color: #ffffff;
                border: 1px solid #d1d5da;
                border-radius: 3px;
                box-sizing: border-box;
                display: inline-block;
                margin-bottom: var(--card-gap);
                padding: 16px;
                vertical-align: top;
                width: var(--card-width);
            }

            .page .tabs .content .card:nth-of-type(2n) {
                margin-left: var(--card-gap);
            }

            .page .tabs .content .card:last-of-type {
                margin-bottom: calc(4*var(--card-gap));
            }

                .page .tabs .content .card .name {
                    color: #0366d6;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 600;
                    text-decoration: none;
                }

                .page .tabs .content .card .name:hover {
                    text-decoration: underline;
                }

                    .page .tabs .content .card .name .owner {
                        font-weight: 400;
                    }

                .page .tabs .content .card .description {
                    color: #6a737d;
                    display: block;
                    font-size: 12px;
                    margin: 8px 0 11px;
                }

                .page .tabs .content .card .gap {
                    display: inline-block;
                    width: 10px;
                }

                .page .tabs .content .card .label {
                    color: #6a737d;
                    display: inline-block;
                    font-size: 12px;
                    margin-left: 10px;
                }

                .page .tabs .content .card .label.fancy {
                    color: white;
                    border-radius: 3px;
                    font-weight: 600;
                    margin-bottom: -2px;
                    margin-right: -8px;
                    padding: 2px 6px;
                }

                    .page .tabs .content .card .label.fancy .icon {
                        color: white;
                    }

                .page .tabs .content .card .label.merged {
                    background-color: #6f42c1;
                }

                .page .tabs .content .card .label.closed {
                    background-color: #cb2431;
                }

                .page .tabs .content .card .label:first-child {
                    margin-left: 0;
                }

                    .page .tabs .content .card .label .color {
                        background-color: #cccccc;
                        border-radius: 50%;
                        display: inline-block;
                        height: 12px;
                        margin-right: 4px;
                        position: relative;
                        top: 2px;
                        width: 12px;
                    }

                    .page .tabs .content .card .label .icon {
                        color: #586069;
                        margin-right: 3px;
                        position: relative;
                        top: 1px;
                        vertical-align: text-bottom;
                    }

a {
    text-decoration: none;
    color: #0366d6;
}

a:focus {
    outline: none;
}
