{{template "styles/global.html"}}
{{template "styles/card.html"}}

{{define "icon-star"}}
    <svg class="icon" viewBox="0 0 14 16" version="1.1" width="14" height="16" role="img"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z" fill="currentColor"></path></svg>
{{end}}

<div class="card projects">
    <a href="{{.URL}}" class="name">
        {{if not (eq .Owner.Login rootData.User.Login)}}
            <span class="owner">
                {{.Owner.Login}}
            </span>/
        {{end}}
        {{.Name}}
    </a>
    <p class="description">
        {{.Description}}
    </p>
    <div class="labels">
        {{$URL := .URL}}
        {{range .Languages.Nodes}}
            <a class="label" href="{{$URL}}/search?l={{.Name}}">
                <span class="color" style="background-color: {{.Color}}"></span>
                {{.Name}}
            </a>
        {{end}}
        {{if gt (len .Languages.Nodes) 0}}
            <div class="gap"></div>
        {{end}}
        {{if gt .Stargazers.Count 0}}
            <a class="label" href="{{.URL}}/stargazers">
                {{template "icon-star"}}
                {{.Stargazers.Count}}
            </a>
        {{end}}
    </div>
</div>
